/* You can add global styles to this file, and also import other style files */

button.btn-rounded{
    border-radius:100%;
    background-color:gold;
    border: 1px solid white;
    border-color: blue;
    color: black
}

label.new-label{
    color: blue;
}

div.details{
    background-color: antiquewhite;
    width: 50%;
    height: 300px;
    margin: auto;
}

table{
    background-color: aliceblue;
    table-layout: fixed;
    width: 100%;
    display: table;
}

div.section{
    background-color: aliceblue;
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

div.buttons{
    display: flex;
    column-gap: 30px;
}

select.drpdwn{
    width:50%;   
}