.div-content{
    width: 600px;
    margin-top: 100px;
    margin-left: 300px;
    background-color: azure;
}

.btn{
    margin: auto;
    display: block;
}

input.ng-invalid{
    border-left: 5px solid red;
}

input.ng-valid{
    border-left: 5px solid green;
}

.error{
    color: red;
}

