<div class="div-content">
  <!-- 2. Login form -->
  <!-- 3. Bootstrap form -->
  <form>
    <h4 align="center">Enter login credentials</h4>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="btn">
      <button type="submit" class="btn btn-primary" routerLink="/users">Login</button>
    </div>
  </form>
</div>