<!-- 3. Bootstrap navbar -->
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/users" routerLinkActive="active">Users</a></li>
                    <li><a href="/projects" routerLinkActive="active">Projects</a></li>
                    <li><a href="/tasks"  routerLinkActive="active">Tasks</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>