<app-header></app-header>
<div class="container-fluid">
    <div class="class row">
        <div class="class col-lg-1">
            <app-sidebar></app-sidebar>
        </div>
        <div class="class col-lg-11">
            <!-- 2. Task update-delete form -->
            <form>
                <div class="section">
                    <label class="new-label">Update / Delete Task</label>
                    <div class="buttons">
                    <button class="btn btn-warning" routerLink="/tasks">Cancel</button>
                    <button class="btn btn-danger">Delete</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
                
                <div class="details">
                    <div class="form-group">
                        <label for="Name">Project</label>
                        <div>
                            <select class="drpdwn">
                                <option *ngFor="let project of ProjectList" value="{{project.Id}}">{{project.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Assigned">Assigned To User</label>
                        <div>
                            <select class="drpdwn">
                                <option *ngFor="let user of UserList" value="{{user.Id}}">{{user.FirstName+" "+user.LastName}}</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="Status">Status</label>
                        <div>
                            <select class="drpdwn">
                                <option value="1">New</option>
                                <option value="2">InProgress</option>
                                <option value="3">QA</option>
                                <option value="4">Completed</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Detail">Detail</label>
                        <input type="text" class="form-control" id="Detail" placeholder="Enter task detail">
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>